<html lang="en">
  <head>
    <title>NON-USERS</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Tinder for Kittens">
    <meta name="author" content="Alice">
    <script src="javascripts/jquery.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/styles.scss">
  </head>
  <body>
    <div>
      <form action="/users/new" method="get">
        <input type="submit" value="Sign-Up">
      </form>

      <form action="/login" method="get">
        <input type="submit" value="Log-In">
      </form>

      </form>
    </div>
  </body>
</html>
