<html lang="en">
  <head>
    <title>Kinder</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Tinder for Kittens">
    <link href='http://fonts.googleapis.com/css?family=Raleway:800' rel='stylesheet' type='text/css'>
    <meta name="author" content="Alice">
    <script src="javascripts/jquery.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/styles.scss">
  </head>

  <body class="responsive-background-homepage">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="/images/LOGO/kinder_logo.png" alt="Logo" style="border-style: none; height: 35px">
          </a>

          <span class="pull-right">
            <form action="/sessions" method="post">
              <input type="text" name="username" placeholder="username">
              <input type="password" name="password" placeholder="password">
              <input type="submit" value="Login">
            </form>
          </span>

        </div>
    </nav>

    <form class="signUpBtn" action="/users/new" method="get">
      <input type="submit" value="Sign-Up">
    </form>

  </body>
</html>
