<h3>Welcome <%= current_user.username %></h3>

<h4>Is this kitten meow or not meow?</h4>

<form action="/judgements" method="post">
  <input type="hidden" name="kitten_id" value="<%= @kitten.id %>">
  <input type="hidden" name="not_meow" value=false>
  <input type="submit" value="Not Meow">
</form>

<div class="sentencing-chair">
  <img src="<%= @kitten.url %>" alt=""/>
</div>

<form action="/judgements" method="post">
  <input type="hidden" name="kitten_id" value="<%= @kitten.id %>">
  <input type="hidden" name="is_meow" value=true>
  <input type="submit" value="Meow!">
</form>
