<html lang="en">
  <head>
    <title>Kinder</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Tinder for Kittens">
    <meta name="author" content="Alice">
    <script src="javascripts/jquery.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/styles.scss">
  </head>

  <body class="responsive-background">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">

          <a class="navbar-brand" href="#">
            <img src="/images/LOGO/kinder_logo.png" alt="Logo" style="border-style: none; height: 35px">
          </a>

          <span class="pull-right">


            Signed in as <%= current_user.username %>

            <br>

            <form action="/sessions" method="post">
              <input type="hidden" name="_method" value="delete">
              <input type="submit" value="Log-Out">
            </form>

            <br>
          </span>

        </div>
    </nav>

    <div class="container body-content">
      <div class="row">
        <div class="col-md-12 center-form">

          <img src="/images/LOGO/kinder_logo.png" alt="Logo" style="border-style: none; height: 50px">

          <h4>Is this kitten meow or not meow?</h4>
          <img src="<%= @kitten.url %>" alt=""/>

          <div class="row vote-buttons">

          <div class="vote-block vote-angie">
            <div class="vote-block-left">
              <form action="/judgements" method="post">
                <input type="hidden" name="kitten_id" value="<%= @kitten.id %>">
                <input type="hidden" name="not_meow" value=false>
                <input type="submit" class="vote-button submit-NO-button-img" value="Not Meow">
              </form>
            </div>
          </div>

          <div class="vote-block vote-angie">
            <div class="vote-block-right">
              <form action="/judgements" method="post">
                <input type="hidden" name="kitten_id" value="<%= @kitten.id %>">
                <input type="hidden" name="is_meow" value=true>
                <input type="submit" class="vote-button submit-YES-button-img" value="Meow!">
              </form>
            </div>
          </div>

        </div>

        <!--  TODO: Display histroy of votes.
          <div class="judgehistory">
            <form action="/history" method="get">
              <input type="submit" value="History">
            </form>
          </div>
           -->

          </div>
        </div>
      </div>
  </body>
</html>
