<html lang="en">
  <head>
    <title>JUDGEMENT</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Tinder for Kittens">
    <meta name="author" content="Alice">
    <script src="javascripts/jquery.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/styles.scss">
  </head>
  <body class="responsive-background">
    <div class="container">
      <div class="row">
        <div class="col-md-12 center-form">
          <form action="/judgements" method="post">

          <h2>Welcome <%= current_user.username %>!</h2>
          <h4>Is this kitten meow or not meow?</h4>
          <img src="<%= @kitten.url %>" alt=""/>
          <div class="vote-block">
            <div class="vote-block-left">

              <input type="hidden" name="not_meow" value=false>
              <input type="submit" class="submit-NO-button-img"="submit" value="Not Meow">
            </div>
          </div>
          <div class="vote-block-right">
            <input type="hidden" name="is_meow" value=true>
            <input type="submit" class="submit-YES-button-img"="submit" value="Meow!">
          </div>

            <input type="hidden" name="kitten_id" value="<%= @kitten.id %>">

          </form>

          <form action="/judgements" method="post">
            <input type="hidden" name="kitten_id" value="<%= @kitten.id %>">
                      </form>

          </div>
        </div>
      </div>
  </body>
</html>
