<html>
  <head>
    <title>Kinder</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <script type="/javascripts/scripts.js"></script>
  </head>
  <body>
    <% if current_user %>
    <%= erb :'_navigation_for_user'%>
    <% else %>
    <%= erb :'_navigation_for_non_user'%>
    <% end %>

    <%= yield %>
  </body>
</html>
