body{
  padding: 30px !important;
}
.sentencing-chair{
  width: 15em;
}

.is-meow{

}

.not-meow{
  opacity: 0.5;
}

#loginBody{
  background-image: url('public/images/blueyarnball.jpg') !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
