body{
  padding: 30px !important;
}
.sentencing-chair{
  width: 15em;
}

.is-meow{

}

.not-meow{
  opacity: 0.5;
}

.responsive-background {
   background: url(/images/blueyarn.jpg) no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}


.center-form{
  margin: auto;
  text-align: center;
}

.vote-block {
  position: relative;
}

.vote-block-left {
  display: block;
  float: left;
  margin: inherit;
  text-align: right;
}

.vote-block-right {
 display: block;
 float: right;
 margin:inherit;
 text-align: left;
}
