body{
  margin: 60px 0px 0px 10px !important;
  font-family: 'Raleway', sans-serif;
}
.sentencing-chair{
  width: 15em;
}

img{
  border-style: double;
  border-width: thick;
}

.is-meow{

}

.not-meow{
  opacity: 0.5;
}

.responsive-background-homepage {
   background: url(/images/19595.jpg) no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

.responsive-background {
   background: url('https://az523647.vo.msecnd.net/media/yarn/plymouth/plymouth-encore-dk/plymouth-encore-dk-0146-winter-white-800.jpg?_=8d150d670c4f510') no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

.center-form{
  margin: auto;
  text-align: center;
}

.vote-block {
  position: relative;
}

.vote-block-left {
  display: block;
  float: left;
  margin: inherit;
  text-align: right;
}

.vote-block-right {
 display: block;
 float: right;
 margin:inherit;
 text-align: left;
}

.submit-YES-button-img{
  background: url(/images/YES/yes.png);
  border: 0;
  display: block;
  height: 258px;
  width: 257px;
}

.submit-NO-button-img{
  background: url(/images/NO/no.png);
  border: 0;
  display: block;
  height: 258px;
  width: 257px;
}
