<html lang="en">
  <head>
    <title>Login</title>
    <h3>Login Page</h3>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Tinder for Kittens">
    <meta name="author" content="Alice">
    <script src="javascripts/jquery.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/styles.scss">
  </head>
  <body id="loginBody" class="responsive-background-homepage">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">

            <div class="container row">
              <div class="col-md-12 col-sm-offset-8">
              <form action="/sessions" method="post">
                <input type="text" name="username" placeholder="username">
                <input type="password" name="password" placeholder="password">
                <input type="submit" value="Login">

            </div
              </div>
              </form>
    </nav>
      </div>
        </div>
          </a>
  </body>
</html>
