<html>
  <head>
    <title></title>
  </head>
  <body>
      <% current_user.judgements.each do |judgement| %>
      <div>
      <img class="<%= judgement.is_meow ? "is-meow": "not-meow" %>"
      src="<%= judgement.kitten.url %>" alt="" />
      </div>
      <% end %>
  </body>
</html>
